:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --first-logo-text-color: #000000;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --accent-color: #2196F3;
    --team-buttons-background-color: #F5F4FA;
    --border-color-line: #ECECEC;
    --border-color-line-card: #EEEEEE;
    --primary-color-icons: #AFB1B8;
    --secondary-color-icons: #FFFFFF;
    --color-nav-icon: #757575;
}

body {
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
    background-color: var(--primary-background-color);

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
    margin-top: 20px;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding-top: 94px;
    ;
}
/*head*/

.page_header_container {
    border-bottom: 1px solid var(--border-color-line);
    display: flex;
    align-items: center;
    height: 79px;
}

.page_nav {
    display: flex;
}

.first_logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-logo-text-color);
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.item_web {
    color: var(--accent-color)
}

.menu {
    display: flex;
    column-gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.contacts_header {
    display: flex;
    column-gap: 50px;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: baseline;
}

.contact_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

.icon_contact {
    margin-right: 10px;
    fill: var(--color-nav-icon);
}

.menu_link:hover,
.contact_link:hover,
.menu_link:focus,
.contact_link:focus {
    color: var(--accent-color)
}

.current {
    color: var(--accent-color);
}

.icon_contact {
    margin-right: 10px;
    fill: var(--color-nav-icon);
}
.contact_link:hover .icon_contact,
.contact_link:focus .icon_contact {
    fill: var(--accent-color);
}

/*MAIN*/

.section_main {
    text-decoration: none;
    text-align: center;
}

.main_bg {
    background-color: var(--secondary-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/Imgbg.jpg');
    background-size: cover;

}

.title_main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn_main {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    border-radius: 4px;
    min-width: 216px;
    padding: 10px 32px;
}

.btn_main:hover,
.btn_main:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*about*/

.card {
    width: 270px;
}

 .div_icons_about_us {
     background: #F5F4FA;
     border-radius: 4px;
 }

 .icons_about_us {
     margin: 25px 100px;
 }

.about_us {
    display: flex;
    column-gap: 30px;
}

.title_about_us {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    color: var(--primary-text-color-theme-light);
    margin-bottom: 10px;
}

.text_about_us {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}
.icons_about_us

/*what we do*/

.title_what_we_do {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
    margin-top: 0;
    margin-bottom: 50px;
    
}

.what_we_do {
    display: flex;
    column-gap: 30px;
}

/*our team*/

.page_our_team {
    background-color: var(--team-buttons-background-color);
    padding-bottom: 94px;
}


.title_our_team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
    margin-bottom: 50px;
}

.our_team {
    margin-top: 50px;
    display: flex;
    column-gap: 30px;

}

.content_our_team {
    width: 270px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.subtitle_our_team {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

 .item_our_team {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 16px;
    color: var(--secondary-text-color-theme-light);
 }

.name_our_team {
    padding-top: 30px;
    padding-bottom: 10px;
}

.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.link_icons_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
}
.icons_content {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-color-icons);
}
.social_link_team {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.link_icons_item:hover,
.link_icons_item:focus {
    background-color: var(--accent-color);
}

.link_icons_item:hover .icon,
.link_icons_item:focus .icon {
    fill: var(--secondary-color-icons);
}
/* CLIENTS */
.page_clients {
    padding-bottom: 94px;
}
.title_clients {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}
.logo_clients_list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.logo_clients {
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    cursor: pointer;
    border: 1px solid #AFB1B8;
}
.logo {
    width: 106px;
    height: 60px;
    fill: var(--primary-color-icons);
}
.logo_clients:hover,
.logo_clients:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

/*footer*/

.contacts_footer {
    background-color: var(--secondary-background-color);
    padding: 60px 0px;

}

.second_logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    text-decoration: none;
}

.address_item:not(:first-child) {
    margin-top: 9px;
}

.link_map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
}

.link_mail,
.link_tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark)
}

.link_map:hover,
.link_mail:hover,
.link_tel:hover,
.link_map:focus,
.link_mail:focus,
.link_tel:focus {
    color: var(--accent-color);
}

.link_icons_address {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.link_icons_address:hover,
.link_icons_address:focus {
    background-color: var(--accent-color);
}

.link_icons_address:hover .icon_address,
.linl_icons_address:focus .icon_address {
    fill: var(--secondary-color-icons);
}

.subtitle_address {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 20px;
}

.icon_address {
    width: 20px;
    height: 20px;
    fill: var(--secondary-color-icons);
}

.page_footer {
    display: flex;
    align-items: baseline;
}

.social_link_address {
    display: flex;
    column-gap: 10px;
}

.address_icons {
    padding-left: 70px;
}

/*main portfolio*/

.page_header {
    border: 1px solid var(--border-color-line);
}

.page_porfolio {
    padding-top: 97px;
    padding-bottom: 91px;
}

.portfolio_page_main {
    padding-bottom: 94px;
}

.buttons_services {
    height: 1360px;
    left: 215px;
    top: 174px;
    padding-bottom: 94px;
}

.button_list {
    display: flex;
    margin-bottom: 50px;
    column-gap: 8px;
    justify-content: center
}

.button_main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--team-buttons-background-color);
    color: var(--primary-text-color-theme-light);
    border-radius: 4px;
    padding: 6px 22px;
}

.button_main:hover,
.button_main:focus {
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
}

.services_main {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.text_border_line {
    border: 1px solid var(--border-color-line-card);
    border-top: none;
    padding: 20px 24px;
}

.content_services_main {
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;

}

.subtitle_services_main {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-light);
    margin-bottom: 4px;
}

.item_services_main {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}